@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
* {
  box-sizing: border-box;
}
html a {
  text-decoration: none !important;
}
html a:hover {
  text-decoration: none !important;
}
html,
body {
  height: 100%;
}
body {
  background-image: url('../img/ocean.jpg');
  background-size: cover;
}
.filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.filter.intro {
  -webkit-transition: opacity ease-in-out 0s;
  -o-transition: opacity ease-in-out 0s;
  transition: opacity ease-in-out 0s;
}
.filter.in {
  opacity: .6;
}
.nav {
  line-height: 40px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-size: 16px;
  background: rgba(230, 235, 235, 0.9);
  box-shadow: 0 3px 10px rgba(230, 235, 235, 0.9);
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.nav.intro {
  -webkit-transition: opacity ease-in-out 0s;
  -o-transition: opacity ease-in-out 0s;
  transition: opacity ease-in-out 0s;
}
.nav.in {
  opacity: 1;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  white-space: nowrap;
}
.nav ul li {
  display: inline-block;
}
.nav ul li:not(:last-child) {
  margin-right: 11px;
}
@media (min-width: 768px) {
  .nav ul li:not(:last-child) {
    margin-right: 30px;
  }
}
.nav ul li a {
  display: inline-block;
  padding: 0px 6px;
  text-align: center;
}
@media (min-width: 768px) {
  .nav ul li a {
    line-height: 50px;
    padding: 0px 10px;
  }
}
.nav ul li a.active {
  color: orange;
}
.nav .qrcode-nav {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/qrcode.png);
  background-size: cover;
  position: absolute;
  top: 9px;
  right: 9px;
  opacity: .5;
  text-decoration: none;
}
.profile,
.expr,
.github,
.blog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px 15px 15px;
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.profile.intro,
.expr.intro,
.github.intro,
.blog.intro {
  -webkit-transition: opacity ease-in-out 0s;
  -o-transition: opacity ease-in-out 0s;
  transition: opacity ease-in-out 0s;
}
.profile.in,
.expr.in,
.github.in,
.blog.in {
  opacity: 1;
}
.profile.active,
.expr.active,
.github.active,
.blog.active {
  z-index: 5;
}
.profile:before,
.profile:after {
  content: " ";
  display: table;
}
.profile:after {
  clear: both;
}
.profile .pic {
  float: left;
  width: 100%;
  max-width: 240px;
  opacity: .9;
  margin: 0 15px 15px 0;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .profile .pic {
    max-width: 260px;
  }
}
.profile .pic-side {
  overflow: hidden;
  min-width: 174px;
  margin-bottom: 15px;
}
.profile .pic-side .name {
  font-size: 24px;
  margin-top: -7px;
  position: relative;
}
@media (min-width: 768px) {
  .profile .pic-side .name {
    font-size: 26px;
    margin-top: -9px;
  }
}
.profile .pic-side .title {
  font-size: 18px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .profile .pic-side .title {
    font-size: 20px;
  }
}
.profile .heading {
  font-size: 22px;
  color: #8316ab;
  text-align: center;
  margin-bottom: 10px;
}
.profile .skill {
  display: block;
  font-size: 18px;
  color: #337ab7;
}
.profile p {
  margin-bottom: 15px;
}
.profile .qrcode-profile {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/qrcode.png);
  background-size: cover;
  position: absolute;
  top: 15px;
  right: 9px;
  opacity: .5;
  text-decoration: none;
}
@media (min-width: 768px) {
  .nav {
    font-size: 18px;
  }
  .profile,
  .expr,
  .github,
  .blog {
    padding-top: 60px;
  }
}
@media (min-width: 992px) {
  .nav {
    width: 60%;
    left: 40%;
  }
  .profile {
    width: 40%;
    height: 100%;
    padding-top: 15px;
  }
  .expr,
  .github,
  .blog {
    left: 40%;
    width: 60%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .nav {
    display: none;
  }
  .view-heading {
    display: block;
    font-size: 22px;
    color: #8316ab;
    text-align: center;
  }
  .profile,
  .expr,
  .github,
  .blog {
    padding-top: 8px;
  }
  .profile {
    padding-top: 15px;
    width: 32%;
    height: 100%;
  }
  .expr {
    left: 32%;
    width: 36%;
    height: 100%;
  }
  .expr .view-heading {
    top: 0px;
    left: 34%;
  }
  .github {
    left: 68%;
    width: 32%;
    height: 49%;
  }
  .github .view-heading {
    top: 0px;
    left: 70%;
  }
  .blog {
    top: 51%;
    left: 68%;
    width: 32%;
    height: 49%;
  }
  .blog .view-heading {
    top: 50%;
    left: 70%;
  }
  .github-blog-separator {
    position: fixed;
    top: 50%;
    left: 70%;
    width: 28%;
    border-top: 1px solid #333;
  }
}
.dk-expr {
  margin-top: 20px;
}
.dk-expr:first-of-type {
  margin-top: 10px;
}
.dk-expr .title {
  font-size: 20px;
}
.dk-expr .desc {
  transform: translateY(0%);
}
.dk-expr .desc.ng-hide-add {
  transition: 0s;
}
.dk-expr .desc.ng-hide-remove {
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.dk-expr .desc.ng-hide {
  opacity: 0;
}
.dk-expr .summary {
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  transform: translateY(0%);
}
.dk-expr .summary.ng-hide-add {
  transition: 0s;
}
.dk-expr .summary.ng-hide-remove {
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.dk-expr .summary.ng-hide {
  opacity: 0;
}
.article {
  margin-top: 18px;
}
.article:first-of-type {
  margin-top: 10px;
}
.article .title {
  font-size: 18px;
  color: #337ab7;
}
