* {
  box-sizing: border-box;
}
.border html,
body {
  height: 100%;
}
body {
  background-image: url('../img/ocean.jpg');
  background-size: cover;
}
.filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .5s, left .5s, top .5s;
  -o-transition: opacity .5s, left .5s, top .5s;
  transition: opacity .5s, left .5s, top .5s;
}
.filter.intro {
  -webkit-transition: opacity ease-in-out 3s;
  -o-transition: opacity ease-in-out 3s;
  transition: opacity ease-in-out 3s;
}
.filter.in {
  opacity: .5;
}
.phone-header {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #666;
  transition: .2s;
}
.phone-header:hover {
  background: rgba(0, 0, 255, 0.2);
  text-decoration: none;
}
.phone-nav {
  position: fixed;
  top: 30px;
  left: 0;
  width: 80%;
  margin: 10px auto;
  z-index: 10;
  font-size: 16px;
  opacity: 1;
  -webkit-transition: opacity .5s, left .5s, top .5s;
  -o-transition: opacity .5s, left .5s, top .5s;
  transition: opacity .5s, left .5s, top .5s;
}
.phone-nav.ng-hide {
  opacity: 0;
}
.phone-nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
.phone-nav ul li a {
  display: block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
.phone-nav ul li a.active {
  color: orange;
}
.sm-md-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 10px;
  z-index: 10;
  font-size: 16px;
  opacity: 0;
  -webkit-transition: opacity .5s, left .5s, top .5s;
  -o-transition: opacity .5s, left .5s, top .5s;
  transition: opacity .5s, left .5s, top .5s;
}
.sm-md-nav.intro {
  -webkit-transition: opacity ease-in-out 3s;
  -o-transition: opacity ease-in-out 3s;
  transition: opacity ease-in-out 3s;
}
.sm-md-nav.in {
  opacity: 1;
}
.sm-md-nav ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
.sm-md-nav ul li {
  display: inline-block;
  margin-right: 30px;
}
.sm-md-nav ul li a {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
.sm-md-nav ul li a.active {
  color: orange;
}
.profile,
.expr,
.github,
.blog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  padding: 10px 10px 10px 10px;
  overflow-y: auto;
  outline: 1px solid black;
  outline-offset: -1px;
  opacity: 0;
  -webkit-transition: opacity .5s, left .5s, top .5s;
  -o-transition: opacity .5s, left .5s, top .5s;
  transition: opacity .5s, left .5s, top .5s;
}
.profile.intro,
.expr.intro,
.github.intro,
.blog.intro {
  -webkit-transition: opacity ease-in-out 3s;
  -o-transition: opacity ease-in-out 3s;
  transition: opacity ease-in-out 3s;
}
.profile.in,
.expr.in,
.github.in,
.blog.in {
  opacity: 1;
}
.profile.active,
.expr.active,
.github.active,
.blog.active {
  z-index: 5;
}
@media (min-width: 768px) {
  .phone-header {
    display: none;
  }
  .sm-md-nav {
    display: block;
  }
  .profile,
  .expr,
  .github,
  .blog {
    padding: 70px 15px 15px 15px;
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
  .sm-md-nav {
    width: 60%;
    left: 40%;
  }
  .profile {
    width: 40%;
    height: 100%;
  }
  .expr,
  .github,
  .blog {
    left: 40%;
    width: 60%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .sm-md-nav {
    display: none;
  }
  .profile,
  .expr,
  .github,
  .blog {
    padding: 15px;
  }
  .profile {
    width: 30%;
    height: 100%;
  }
  .expr {
    left: 30%;
    width: 40%;
    height: 100%;
  }
  .github {
    left: 70%;
    width: 30%;
    height: 50%;
  }
  .blog {
    top: 50%;
    left: 70%;
    width: 30%;
    height: 50%;
  }
  /*
  .profile {
    float: left;
    width: 27%;
    height: 100%;
  }
  .expr {
    float:left;
    width: 46%;
    height: 100%;
  }
  .github, .blog {
    float:left;
    width: 27%;
    height: 50%;
  }
  */
}
