
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

@import (reference) '../bower_components/bootstrap/less/variables';
@import 'dk-mixins';


@padding: 15px;
@nav-height-xs: 40px;
@nav-height-sm: 50px;
@nav-plus: 10px;
@purple: #8316ab;
@color-heading: @purple;

@introSpeed: 0s;// 3s
.introTrans() {
   -webkit-transition: opacity ease-in-out @introSpeed;
   -o-transition: opacity ease-in-out @introSpeed;
   transition: opacity ease-in-out @introSpeed;
}

@tranSpeed: .5s;
.trans() {
   -webkit-transition: @tranSpeed;
   -o-transition: @tranSpeed;
   transition: @tranSpeed;
}

html a {
   text-decoration: none !important;
   &:hover {
      text-decoration: none !important;
   }
}

html, body {
   height: 100%;
}

body {
   background-image: url('../img/ocean.jpg');
   background-size: cover;
}

.filter {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: white;
   z-index: -1;
   opacity: 0;
   .trans;
   &.intro {
      .introTrans;
   }
   &.in {
      opacity: .6;
   }
}

.nav {
   line-height: @nav-height-xs;
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   font-size: 16px;
   background: #e6ebeb;
   opacity: 0;
   .trans;
   &.intro {
      .introTrans;
   }
   &.in {
      opacity: 1;
   }
   ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      white-space: nowrap;
      li {
         display: inline-block;
         &:not(:last-child) {
            margin-right: 11px;
            @media (min-width: @screen-sm) {
               margin-right: 30px;
            }
         }
         a {
            display: inline-block;
            padding: 0px 6px;
            @media (min-width: @screen-sm) {
               line-height: @nav-height-sm;
               padding: 0px 10px;
            }
            text-align: center;
            &.active {
               color: orange; //todo-tune
            }
         }
      }
   }
   .qrcode-nav {
      display: block;
      width: 32px;
      height: 32px;
      background: url(../img/qrcode.png);
      background-size: cover;
      position: absolute;
      top: 9px;
      right: 9px;
      opacity: .5;
      text-decoration: none;
   }

}

.profile, .expr, .github, .blog {
   //.outline;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   padding: (@nav-height-xs + @nav-plus) @padding @padding;
   overflow-y: auto;
   opacity: 0;
   .trans;
   &.intro {
      .introTrans;
   }
   &.in {
      opacity: 1;
   }
   &.active {
      z-index: 5;
   }
}

.profile {
   @margin: 15px;
   .clearfix;
   .pic {
      float: left;
      width: 100%;
      max-width: 240px;
      opacity: .9;
      @media (min-width: @screen-sm) {
         max-width: 260px;
      }
      margin: 0 @padding @padding 0;
      border-radius: 4px;

   }
   .pic-side {
      overflow: hidden;
      min-width: 174px;
      margin-bottom: 4px;
      .name {
         font-size: 24px;
         margin-top: -7px;
         @media (min-width: @screen-sm) {
            font-size: 26px;
            margin-top: -9px;
         }
         position: relative;
      }
      .title {
         font-size: 18px;
         margin-bottom: @margin;
         @media (min-width: @screen-sm) {
            font-size: 20px;
         }
      }
   }
   .heading {
      font-size: 22px;
      color: @color-heading;
      text-align: center;
      margin: 18px 0 10px;
      &.no-margin-bottom {
         margin: 18px 0 0;
      }
   }
   .skill {
      display:block;
      font-size: 18px;
      color: @link-color;
      //margin-bottom: @margin;
   }
   .social-links {
      //margin-top: 8px;
      text-align: center;
      font-size: 18px;
      a:not(:last-of-type) {
         margin-right: 7%;
      }
   }
   .qrcode-profile {
      display: block;
      width: 32px;
      height: 32px;
      background: url(../img/qrcode.png);
      background-size: cover;
      position: absolute;
      top: 15px;
      right: 9px;
      opacity: .5;
      text-decoration: none;
   }
}

.expr {

}

.github {

}

.blog {
}


@media (min-width: @screen-sm) {

   .nav {
      font-size: 18px;
   }
   .profile, .expr, .github, .blog {
      padding-top: @nav-height-sm + @nav-plus;
   }

}

@media (min-width: @screen-md) {

   @profileWidth: 40%;

   .nav {
      width: 100% - @profileWidth;
      left: @profileWidth;
   }

   .profile {
      width: @profileWidth;
      height: 100%;
      padding-top: @padding;
   }

   .expr, .github, .blog {
      left: @profileWidth;
      width: 60%;
      height: 100%;
   }

}

@media (min-width: @screen-lg) {

   @width: 32%;

   .nav {
      display: none;
   }

   .view-heading {
      display:block;
      font-size: 22px;
      color: @color-heading;
      text-align: center;
      //margin-bottom: @margin;
   }

   .profile, .expr, .github, .blog {
      padding-top: 8px;
   }

   .profile {
      padding-top: @padding;
      width: @width;
      height: 100%;
   }

   .expr {
      left: @width;
      width: 100% - (2 * @width);
      height: 100%;
      .view-heading {
         top: 0px;
         left: @width + 2;
      }
   }

   .github {
      left: 100% - @width;
      width: @width;
      height: 49%;
      .view-heading {
         top: 0px;
         left: 100% - @width + 2;
      }
   }

   .blog {
      top: 51%;
      left: 100% - @width;
      width: @width;
      height: 49%;
      .view-heading {
         top: 50%;
         left: 100% - @width + 2;
         //border-top: 1px solid #555;
      }
   }

   .github-blog-separator {
      position: fixed;
      top: 50%;
      left: 100% - @width + 2;
      width: @width - 4;
      border-top: 1px solid #333;
   }

}

.dk-expr {
   @tranSpeed: .3s;
   .trans() {
      -webkit-transition: ease-in @tranSpeed;
      -o-transition: ease-in @tranSpeed;
      transition: ease-in @tranSpeed;
   }
   margin-top: 20px;
   &:first-of-type {
      margin-top: 10px;
   }
   .title {
      font-size: 20px;
   }
   .desc {
      transform: translateY(0%);
      &.ng-hide-add {
         transition: 0s;
      }
      &.ng-hide-remove {
         .trans;
      }
      &.ng-hide {
         opacity: 0;
      }
   }
   .summary {
      .trans;
      transform: translateY(0%);
      &.ng-hide-add {
         transition: 0s;
      }
      &.ng-hide-remove {
         .trans;
      }
      &.ng-hide {
         opacity: 0;
      }
   }
}

.article {
   margin-top: 18px;
   &:first-of-type {
      margin-top: 10px;
   }
   .title {
      font-size: 18px;
      color: @link-color;
   }

}




