<html ng-app="app">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>dk github.io</title>
   <link rel="stylesheet" href="less/bootstrap.css">
   <link rel="stylesheet" href="vendor/dk-modal.css">
   <link rel="stylesheet" href="less/site.css">
</head>
<body ng-controller="bodyCtrl">
<div class="filter"></div>
<div class="nav">
   <ul>
      <li class="hidden-md"><a href="" ng-class="{active: view == 'profile'}"
                               ng-click="changeView('profile')">profile</a></li>
      <li><a href="" ng-class="{active: view == 'expr'}"
             ng-click="changeView('expr')">experience</a></li>
      <li><a href="" ng-class="{active: view == 'github'}"
             ng-click="changeView('github')">github</a></li>
      <li><a href="" ng-class="{active: view == 'blog'}"
             ng-click="changeView('blog')">blog</a></li>
      <a href="" class="qrcode-nav hidden-xs" dk-modal-trigger=".qrcodeModal" data-width="150px"></a>
   </ul>
</div>


<div class="profile">
   <a href="" class="qrcode-profile visible-lg-block" dk-modal-trigger=".qrcodeModal" data-width="150px"></a>

   <div class="clearfix">
      <img class="pic" src="img/Elfin forest 300x300.jpg">

      <div class="pic-side">
         <div class="name">
            dan kahle
         </div>
         <div class="title">
            sr. web developer - <span style="white-space: nowrap">mean stack</span>
         </div>
         <div class="info">
            dan.kahle@gmail.com<br>
            san diego, ca<br>
         </div>
      </div>
   </div>

   <div class="heading">skillset</div>
   <article class="article" ng-repeat="item in skills">
      <span class="title">{{item.title}}</span>

      <div class="desc">{{item.desc}}</div>
   </article>

   <div class="heading no-margin-bottom">education</div>

   <article class="article">
      <span class="title"><a href="http://www.asu.edu" target="_blank">Arizona State University</a></span>

      <div class="desc">Electrical Engineering</div>
   </article>

   <div class="heading no-margin-bottom">social</div>

   <article class="article">
      <div class="title">
         <div class="social-links">
            <a href="https://github.com/dankahle" target="_blank">github</a>
            <a href="http://dankahle-dev.blogspot.com/" target="_blank">blog</a>
            <a href="https://www.linkedin.com/pub/dan-kahle/82/a8a/576" target="_blank">linkedin</a>
            <a href="http://bit.ly/1Inb65s" target="_blank">resume</a>
         </div>
      </div>
   </article>

   <br>
</div>

<div class="expr">
   <div class="view-heading visible-lg-block">experience</div>

   <article class="dk-expr" ng-repeat="job in jobs">
      <a class="title" href="" ng-click="toggle = !toggle">{{job.title}}</a>
      <div class="city-date-wrapper">
         <span class="city">{{job.city}}</span>
         <span class="dates">{{job.dates}}</span>
      </div>
      <div class="desc" ng-hide="toggle" ng-bind-html="job.desc"></div>
      <div class="summary" ng-show="toggle" ng-bind-html="job.summary"></div>
      <div class="skills">{{job.skills}}</div>
   </article>
   <br>
</div>

<div class="github">
   <div class="view-heading visible-lg-block">github</div>

   <article class="article" ng-repeat="item in repos">
      <a class="title" href="{{item.url}}" target="_blank" ng-bind-html="item.title"></a>

      <div class="desc" ng-bind-html="item.desc"></div>
   </article>
   <br>
</div>

<div class="github-blog-separator"></div>

<div class="blog">
   <div class="view-heading visible-lg-block">blog</div>
   <article class="article" ng-repeat="item in blogs">
      <a class="title" href="{{item.url}}" target="_blank" ng-bind-html="item.title"></a>

      <div class="desc" ng-bind-html="item.desc"></div>
   </article>
   <br>
</div>

<div class="qrcodeModal" style="display:none">
   <img src="img/qrcode.png" width="148" height="148">
</div>


<script src="vendor/jquery.min.js"></script>
<script src="vendor/lodash.min.js"></script>
<script src="vendor/angular.js"></script>
<script src="vendor/angular-animate.js"></script>
<script src="vendor/angular-sanitize.js"></script>
<script src="vendor/angular-touch.js"></script>
<script src="vendor/dk-modal.min.js"></script>
<!--
	<script src="vendor/angular-ui-router.js"></script>
	<script src="vendor/restangular.js"></script>
	<script src="vendor/bootstrap.min.js"></script>
-->
<script src="app/data.js"></script>
<script src="app/app.js"></script>
<script src="app/bodyCtrl.js"></script>

</body>
</html>
